*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#121212;
color:white;
}

.hero{
padding:40px;
display:flex;
gap:30px;
align-items:center;
background:linear-gradient(
180deg,
#3a3a3a,
#121212
);
}

.cover{
width:250px;
height:250px;
object-fit:cover;
border-radius:15px;
}

.info h1{
font-size:40px;
margin-bottom:15px;
}

.play{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#1DB954;
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

.titulo-story{
padding:20px;
}

.stories{
display:flex;
gap:15px;
padding:20px;
overflow-x:auto;
}

.story img{
width:90px;
height:90px;
border-radius:50%;
border:3px solid #1DB954;
cursor:pointer;
object-fit:cover;
}

.playlist{
padding:20px;
}

.musica{
display:flex;
align-items:center;
gap:15px;
background:#181818;
padding:15px;
border-radius:15px;
}

.musica img{
width:70px;
height:70px;
border-radius:10px;
object-fit:cover;
}

#storyModal{
display:none;
position:fixed;
inset:0;
background:black;
justify-content:center;
align-items:center;
z-index:999;
}

#storyModal img{
max-width:90%;
max-height:90%;
}

#storyModal span{
position:absolute;
top:20px;
right:20px;
font-size:35px;
cursor:pointer;
}
